# Django
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=smartresi
DB_USER=smartresi_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ORIGIN=http://localhost:5173

# EMAIL
# Mode local par defaut: emails affiches dans la console quand DEBUG=True
# Si tu veux utiliser Mailtrap, remplace EMAIL_BACKEND par SMTP et renseigne les champs ci-dessous.
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=your_mailtrap_user
EMAIL_HOST_PASSWORD=your_mailtrap_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@smartresi.local

# JWT
JWT_SIGNING_KEY=your-jwt-signing-key
