# Django
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=smartresi
DB_USER=smartresi_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ORIGIN=http://localhost:5173

# EMAIL: Décommenter le provider que tu veux utiliser
# MAILTRAP (dev)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=your_mailtrap_user
EMAIL_HOST_PASSWORD=your_mailtrap_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@smartresi.local

# LWS (prod) - décommenter pour utiliser
# EMAIL_HOST=mail.deltahmed.fr
# EMAIL_PORT=587
# EMAIL_HOST_USER=no-reply@deltahmed.fr
# EMAIL_HOST_PASSWORD=your-lws-password
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=no-reply@deltahmed.fr

# JWT
JWT_SIGNING_KEY=your-jwt-signing-key
